[growbot-conf]
# Root url of instance
apiURL = https://wetfish.space
username = 
password = 
# AM2302, DHT22, DHT11 are acceptable values here
temp_humidity_sensor = AM2302
# Pin which connects to temp/humidity sensor (0 indexed)
temp_humidity_pin = 2
# Pins for GPIO controlled relays (0 indexed)
GPIO_pin_light = 
GPIO_pin_temp = 
# Number of soil moisture sensors to read, starting from first channel, max of 8
mcp3008_channels = 2
# In Hz, minimum recommended value of 10000, higher values may decrease accuracy.
spi_freq = 100000
# Output data as raw decimal value, useful for calibration
soil_moisture_raw_output = false
# Soil Moisture Calibration Values
soil_moisture_offset = 445
soil_moisture_scale_factor = 1.43
# Using a heater to control temperature?
heater = true
